@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}


.text-green-500 {
	color: #10B981;
  }
  
  .text-yellow-500 {
	color: #F59E0B;
  }
  
  .text-red-500 {
	color: #EF4444;
  }
  
  .text-gray-500 {
	color: #6B7280;
  }