<div class="flex flex-row mx-6">
  <div class="p-4 sm:ml-64 w-full">
    <!-- Page Heading -->
    <h1 class="text-3xl font-bold text-black mb-6">Customer Info</h1>

    <!-- Customer Info Card -->
    <div class="bg-white shadow-md rounded-lg p-6">
      <!-- Customer Since & Last Order -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800">{{ customerInfo?.firstName }} {{ customerInfo?.lastName }}</h2>
        <p class="text-sm text-gray-500">Customer since: <span class="font-medium">2020</span></p>
        <p class="text-sm text-gray-500">Last Order: <span class="font-medium">12th Feb 2025</span></p>
      </div>

      <!-- General Info -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-4">General</h3>
        <div class="space-y-2">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Username</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.userName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">First Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.firstName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Last Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.lastName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Email Address</span>
            <input type="email" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.email">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Phone Number</span>
            <input type="tel" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.phoneNumber">
          </div>

          <!-- City Dropdown -->
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">City</span>
            <select
              [(ngModel)]="customerInfo.city"
              class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2 focus:border-blue-500"
            >
              <option *ngFor="let city of cities" [value]="city._id">{{city.cityName}}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Shipping Info -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Shipping Info</h3>
        <div class="space-y-2">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">First Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.shippingInfo.firstName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Last Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.shippingInfo.lastName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">District</span>
            <select class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2 focus:border-blue-500" [(ngModel)]="customerInfo.shippingInfo.district">
              <option *ngFor="let city of cities" [value]="city.cityName">{{city.cityName}}</option>
            </select>
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Shipping Address</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.shippingInfo.fullAddress">
          </div>
        </div>
      </div>

      <!-- Billing Info -->
      <div class="mb-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Billing Info</h3>
        <div class="space-y-2">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">First Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.billingInfo.firstName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">Last Name</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.billingInfo.lastName">
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">District</span>
            <select class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2 focus:border-blue-500" [(ngModel)]="customerInfo.billingInfo.district">
              <option *ngFor="let city of cities" [value]="city.cityName">{{city.cityName}}</option>
            </select>
          </div>
          <div class="flex flex-col sm:flex-row sm:items-center">
            <span class="text-sm text-gray-600 sm:w-1/4">PostalCode / Zip</span>
            <input type="text" class="text-sm text-gray-800 sm:w-3/4 border rounded-lg p-2" [(ngModel)]="customerInfo.shippingInfo.zipCode">
          </div>
        </div>
      </div>

      <!-- Save Button -->
      <div class="mt-6">
        <button (click)="updateCustomerById()" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Save Changes</button>
      </div>
    </div>
  </div>
</div>