<div class="flex flex-row mx-6">
  <div class="p-4 sm:ml-64 w-full">
    <div>
      <h1 class="text-3xl font-bold text-black mb-6">Outlets</h1>
      <h3 class="text-xl font-semibold text-black mb-4">All Outlets Overview</h3>
    </div>
    <!--  Outlet Header Start-->

    <section class="bg-[#fefefe] lg:py-[5px] sm:mt-3 sm:py-[40px] py-[20px]">
      <div class="max-w-[1320px] mx-auto px-4">

        <div class="grid  grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-4">
          <div>

            <form class="flex items-center max-w-sm mx-auto">
              <label for="simple-search" class="sr-only">Search</label>
              <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                  </svg>
                </div>
                <input type="text" id="simple-search"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search branch name..." required/>
              </div>
              <button type="submit"
                      class="p-2.5 ms-2 text-sm font-medium text-white bg-black rounded-lg border border-gray-400 hover:bg-black  focus:ring-2 focus:outline-none focus:ring-gray-300 dark:bg-black dark:hover:bg-black dark:focus:ring-black">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
              </button>
            </form>

          </div>

          <div class="">
            <button type="button"
                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
              Export
            </button>

          </div>
          <div>
            <button
              type="button"
              class="text-white bg-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-300 dark:hover:bg-gray-300 dark:focus:ring-blue-800"
            >
              Add Outlet
              <svg
                class="w-4 h-4 ms-2"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a1 1 0 011 1v6h6a1 1 0 110 2h-6v6a1 1 0 11-2 0v-6H5a1 1 0 110-2h6V5a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>


        </div>
      </div>
    </section>

    <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
    <!--  Outlet Header End-->
  </div>

</div>
